<div class="card">
  <div class="card-body">
    <div class="publishedOn text-start">
      {{article.publishedOn | dateformat:'DD MMM yyyy'}}
    </div>
    <h4 class="card-title">{{article.title}}</h4>
    <span class="card-text row ms-01">
      <a [routerLink]="['/authors',article.authorId]" class="col-2 badge bg-warning text-wrap-balance text-center">
        {{article.author.authorName}}
      </a>
    </span>
    <ng-container *ngFor="let category of article.categories">
      <a [routerLink]="['/categories',category.categoryId]" class="mb-1 me-2 badge bg-info category">
        {{category.categoryName}}
      </a>
    </ng-container>
  </div>
  <div class="row">
    <a class="col-12 fs-6 m-1">
      {{article.url}}
    </a>
  </div>
</div>

<div class="card p-1 border border-info">
  {{article.content}}
</div>
