<div class="card">
  <div class="card-body">
    <h4 class="card-title">
      {{article.title}}
    </h4>
    <div class="row ms-01 align-items-center">
        <a [routerLink]="['/authors',article.authorId]" class="col-6 badge bg-warning text-wrap-balance text-center">
          {{article.author.authorName}}
        </a>
        <div class="col-6 publishedOn text-secondary text-end">
          {{article.publishedOn | dateformat:'DD MMM yyyy' }}
        </div>
    </div>
    <div>
      <ng-container *ngFor="let category of article.categories">
        <a [routerLink]="['/categories',category.categoryId]" class="mb-1 me-2 badge bg-info category">
          {{category.categoryName}}
        </a>
      </ng-container>
    </div>
    <p class="card-text">
      {{article.content | textshorter:100}}
      <i class="bi bi-box-arrow-up-right cursor-pointer" (click)="openArticle()"></i>
    </p>
  </div>
</div>
